<!DOCTYPE html>{% load staticfiles %}
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Annuaire !</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <script src="{% static 'js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
</head>
<body>
<div class="header-container">
    <header class="wrapper clearfix">
        <h1 class="title">{{ page_title }}</h1>
        {% block header %}
            <nav>
                <ul>
                    <li><a href="#">Annuaire</a></li>
                    {% if request.user.is_staff %}
                    <li><a href="#">Administration</a></li>
                    {% else %}
                    <li><a href="#">Connexion</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endblock header %}
    </header>
</div>

<div class="main-container">
    <div class="main wrapper clearfix">
        {% block content %}
        <article>
            <header>
                <h1>article header h1</h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas
                    tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In
                    semper consequat est, eu porta velit mollis nec.</p>
            </header>
            <section>
                <h2>article section h2</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas
                    tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In
                    semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor.
                    Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis
                    pharetra.</p>
            </section>
            <section>
                <h2>article section h2</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas
                    tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In
                    semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor.
                    Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis
                    pharetra.</p>
            </section>
            <footer>
                <h3>article footer h3</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas
                    tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In
                    semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat
                    tempor.</p>
            </footer>
        </article>
        <aside>
            <h3>aside</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor.
                Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper
                consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam
                ullamcorper lorem dapibus velit suscipit ultrices.</p>
        </aside>
        {% endblock content %}
    </div>
    <!-- #main -->
</div>
<!-- #main-container -->

<div class="footer-container">
    <footer class="wrapper">
        <h3>footer</h3>
    </footer>
</div>

<script src="../../../da2i-django-template/js/main.js"></script>
</body>
</html>
