{% extends 'base.html'%}
{% block content %}
<table border="1" cellspacing="0" cellpadding="0">
    <thead>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </thead>
    <tbody>
{% for object in object_list %}
        <tr>
            <td>
                {{object.id}}
            </td>
            <td>
                {{object.first_name}}
            </td>
            <td>
                {{object.last_name}}
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock content %}
